@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/HomeLayout.cshtml";

}
<h2>@ViewBag.Title</h2>

<center>
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdfWLqigRwMjrw-IBBW_FM1U_dxwW1WoDkZ_XzVpHql5OoaOg/viewform?embedded=true" width="800" height="1000" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe></center>